body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 100px 40px 100px;
}

.header-awesome {
    display: flex;
    padding-top: 20px;
    width: 100%;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
    justify-self: flex-end;
    border: 2em;
    gap: 20px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-right: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: none;
}

.awesome-text {
    max-width: 400px;
}

.fries-image {
    max-width: 100%;
}

.cropped-pizza {
    width: 150px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    border: 2px solid #3882F6;
}

.cropped-burger {
    width: 150px;
    height: 120px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 5px;
    border: 2px solid #3882F6;
}

main {
    display: flex;
    flex-direction: column;
}

.main-text {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.main-images {
    display: flex;
    padding-top: 10px;
    gap: 50px;
    margin: 0 auto;
}

.image {
    text-align: center;
    width: 150px;
}

.rounded {
    border-radius: 5px;
    border: 2px solid #3882F6;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 500px 80px 500px;
}
.thorquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.thorname {
    color: #1F2937;
    display: flex;
    justify-self: flex-end;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 900;
}